table {
	width: 100%;
}

#printOrderMainBlock {
	text-align: center;
}

#printOrderMainBlock table {
	width: 100%;
	border-collapse: collapse;
}

#printOrderMainBlock td, #printOrderMainBlock th {
	border: 1px solid black;
	text-align: center;
}

#printOrderMainBlock td {
	text-align: center;
}

#printOrderHeaderBlock p, #printOrderHeaderBlock td {
	text-align: center;
}

#printOrderHeaderBlock img {
	width: 150px;
	height: 100px;
}

#printOrderFooterBlock {
	page-break-after: always;
}

#printOrderContractBlock {
	page-break-after: always;
}